{{ partial "header.html" . }}

<div class="ui relaxed grid dream-grid dream-back">

  <div class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
    <article class="ui segment">
      <h3 class="ui header">Signez la lettre ouverte</h3>
      <form class="email-form" name="tributemessage" method="POST" data-netlify="true" data-netlify-recaptcha="true">
        <label for="tribute">Message<span>*</span></label>
        <div>
          <textarea rows="4" cols="35" name="tribute" style="width: 100%;" id="tribute" required></textarea>
        </div>
        <div>
          <label for="organisation">Organisation</label>
          <input type="text" name="organisation" style="width: 100%;" placeholder="optionnel" id="organisation" />
        </div>
        <div>
          <label for="author">Auteur</label>
          <input type="text" name="author" style="width: 100%;" placeholder="optionnel" id="author" />
        </div>
        <div>
          <label for="twitter">twitter @</label>
          <input type="text" name="twitter" style="width: 100%;" placeholder="optionnel" id="twitter" />
        </div>
        <label for="facebook">Pays</label>
        <div>
          <!-- <input type="text" name="pays" style="width: 75%;" placeholder="optionnel" id="pays" /> -->
          <select id="pays" name="pays" style="width: 75%;" required>
            <optgroup label="Afrique">
              <option value="319">ACORES, MADERE</option>
              <option value="303">AFRIQUE DU SUD</option>
              <option value="352">ALGERIE</option>
              <option value="395">ANGOLA</option>
              <option value="327">BENIN</option>
              <option value="347">BOTSWANA</option>
              <option value="331">BURKINA</option>
              <option value="321">BURUNDI</option>
              <option value="322">CAMEROUN</option>
              <option value="305">CAMEROUN ET TOGO</option>
              <option value="313">CANARIES (ILES)</option>
              <option value="396">CAP-VERT</option>
              <option value="323">CENTRAFRICAINE (REPUBLIQUE)</option>
              <option value="397">COMORES</option>
              <option value="324">CONGO</option>
              <option value="312">CONGO (REPUBLIQUE DEMOCRATIQUE)</option>
              <option value="326">COTE D'IVOIRE</option>
              <option value="399">DJIBOUTI</option>
              <option value="301">EGYPTE</option>
              <option value="317">ERYTHREE</option>
              <option value="315">ETHIOPIE</option>
              <option value="328">GABON</option>
              <option value="304">GAMBIE</option>
              <option value="329">GHANA</option>
              <option value="330">GUINEE</option>
              <option value="314">GUINEE EQUATORIALE</option>
              <option value="392">GUINEE-BISSAU</option>
              <option value="320">ILES PORTUGAISES DE L'OCEAN INDIEN</option>
              <option value="332">KENYA</option>
              <option value="348">LESOTHO</option>
              <option value="302">LIBERIA</option>
              <option value="316">LIBYE</option>
              <option value="333">MADAGASCAR</option>
              <option value="334">MALAWI</option>
              <option value="335">MALI</option>
              <option value="350">MAROC</option>
              <option value="390">MAURICE</option>
              <option value="336">MAURITANIE</option>
              <option value="393">MOZAMBIQUE</option>
              <option value="311">NAMIBIE</option>
              <option value="337">NIGER</option>
              <option value="338">NIGERIA</option>
              <option value="308">OCEAN INDIEN (TERRITOIRE BRITANNIQUE DE L')</option>
              <option value="339">OUGANDA</option>
              <option value="313">PRESIDES</option>
              <option value="313">PROVINCES ESPAGNOLES D'AFRIQUE</option>
              <option value="340">RWANDA</option>
              <option value="389">SAHARA OCCIDENTAL</option>
              <option value="306">SAINTE HELENE, ASCENSION ET TRISTAN DA CUNHA</option>
              <option value="394">SAO TOME-ET-PRINCIPE</option>
              <option value="SN" selected="selected">SENEGAL</option>
              <option value="398">SEYCHELLES</option>
              <option value="342">SIERRA LEONE</option>
              <option value="318">SOMALIE</option>
              <option value="343">SOUDAN</option>
              <option value="307">SOUDAN ANGLO-EGYPTIEN, KENYA, OUGANDA</option>
              <option value="349">SOUDAN DU SUD</option>
              <option value="391">SWAZILAND</option>
              <option value="325">TANGER</option>
              <option value="309">TANZANIE</option>
              <option value="344">TCHAD</option>
              <option value="345">TOGO</option>
              <option value="351">TUNISIE</option>
              <option value="346">ZAMBIE</option>
              <option value="308">ZANZIBAR</option>
              <option value="310">ZIMBABWE</option>
            </optgroup>
            <optgroup label="Amérique">
              <option value="404">ALASKA</option>
              <option value="425">ANGUILLA</option>
              <option value="441">ANTIGUA-ET-BARBUDA</option>
              <option value="431">ANTILLES NEERLANDAISES</option>
              <option value="415">ARGENTINE</option>
              <option value="436">BAHAMAS</option>
              <option value="434">BARBADE</option>
              <option value="429">BELIZE</option>
              <option value="425">BERMUDES</option>
              <option value="418">BOLIVIE</option>
              <option value="443">BONAIRE, SAINT EUSTACHE ET SABA</option>
              <option value="416">BRESIL</option>
              <option value="425">CAIMANES (ILES)</option>
              <option value="401">CANADA</option>
              <option value="417">CHILI</option>
              <option value="419">COLOMBIE</option>
              <option value="406">COSTA RICA</option>
              <option value="407">CUBA</option>
              <option value="444">CURAÇAO</option>
              <option value="408">DOMINICAINE (REPUBLIQUE)</option>
              <option value="438">DOMINIQUE</option>
              <option value="414">EL SALVADOR</option>
              <option value="420">EQUATEUR</option>
              <option value="404">ETATS-UNIS</option>
              <option value="427">GEORGIE DU SUD ET LES ILES SANDWICH DU SUD</option>
              <option value="435">GRENADE</option>
              <option value="430">GROENLAND</option>
              <option value="409">GUATEMALA</option>
              <option value="428">GUYANA</option>
              <option value="410">HAITI</option>
              <option value="411">HONDURAS</option>
              <option value="426">JAMAIQUE</option>
              <option value="403">LABRADOR</option>
              <option value="427">MALOUINES, OU FALKLAND (ILES)</option>
              <option value="405">MEXIQUE</option>
              <option value="425">MONTSERRAT</option>
              <option value="412">NICARAGUA</option>
              <option value="413">PANAMA</option>
              <option value="421">PARAGUAY</option>
              <option value="422">PEROU</option>
              <option value="432">PORTO RICO</option>
              <option value="442">SAINT-CHRISTOPHE-ET-NIEVES</option>
              <option value="439">SAINTE-LUCIE</option>
              <option value="445">SAINT-MARTIN (PARTIE NEERLANDAISE)</option>
              <option value="440">SAINT-VINCENT-ET-LES GRENADINES</option>
              <option value="437">SURINAME</option>
              <option value="432">TERR. DES ETATS-UNIS D'AMERIQUE EN AMERIQUE</option>
              <option value="427">TERR. DU ROYAUME-UNI DANS L'ATLANTIQUE SUD</option>
              <option value="402">TERRE-NEUVE</option>
              <option value="425">TERRITOIRES DU ROYAUME-UNI AUX ANTILLES</option>
              <option value="433">TRINITE-ET-TOBAGO</option>
              <option value="425">TURKS ET CAIQUES (ILES)</option>
              <option value="423">URUGUAY</option>
              <option value="424">VENEZUELA</option>
              <option value="425">VIERGES BRITANNIQUES (ILES)</option>
              <option value="432">VIERGES DES ETATS-UNIS (ILES)</option>
            </optgroup>
            <optgroup label="Asie">
              <option value="212">AFGHANISTAN</option>
              <option value="201">ARABIE SAOUDITE</option>
              <option value="252">ARMENIE</option>
              <option value="253">AZERBAIDJAN</option>
              <option value="249">BAHREIN</option>
              <option value="246">BANGLADESH</option>
              <option value="214">BHOUTAN</option>
              <option value="224">BIRMANIE</option>
              <option value="225">BRUNEI</option>
              <option value="234">CAMBODGE</option>
              <option value="216">CHINE</option>
              <option value="254">CHYPRE</option>
              <option value="237">COREE</option>
              <option value="239">COREE (REPUBLIQUE DE)</option>
              <option value="238">COREE (REPUBLIQUE POPULAIRE DEMOCRATIQUE DE)</option>
              <option value="247">EMIRATS ARABES UNIS</option>
              <option value="228">ETATS MALAIS NON FEDERES</option>
              <option value="255">GEORGIE</option>
              <option value="223">GOA</option>
              <option value="230">HONG-KONG</option>
              <option value="223">INDE</option>
              <option value="231">INDONESIE</option>
              <option value="204">IRAN</option>
              <option value="203">IRAQ</option>
              <option value="207">ISRAEL</option>
              <option value="217">JAPON</option>
              <option value="222">JORDANIE</option>
              <option value="211">KAMTCHATKA</option>
              <option value="256">KAZAKHSTAN</option>
              <option value="257">KIRGHIZISTAN</option>
              <option value="240">KOWEIT</option>
              <option value="241">LAOS</option>
              <option value="205">LIBAN</option>
              <option value="232">MACAO</option>
              <option value="227">MALAISIE</option>
              <option value="229">MALDIVES</option>
              <option value="218">MANDCHOURIE</option>
              <option value="242">MONGOLIE</option>
              <option value="215">NEPAL</option>
              <option value="250">OMAN</option>
              <option value="258">OUZBEKISTAN</option>
              <option value="213">PAKISTAN</option>
              <option value="261">PALESTINE (Etat de)</option>
              <option value="220">PHILIPPINES</option>
              <option value="221">POSSESSIONS BRITANNIQUES AU PROCHE-ORIENT</option>
              <option value="248">QATAR</option>
              <option value="209">SIBERIE</option>
              <option value="226">SINGAPOUR</option>
              <option value="235">SRI LANKA</option>
              <option value="206">SYRIE</option>
              <option value="259">TADJIKISTAN</option>
              <option value="236">TAIWAN</option>
              <option value="219">THAILANDE</option>
              <option value="262">TIMOR ORIENTAL</option>
              <option value="210">TURKESTAN RUSSE</option>
              <option value="260">TURKMENISTAN</option>
              <option value="208">TURQUIE</option>
              <option value="243">VIET NAM</option>
              <option value="244">VIET NAM DU NORD</option>
              <option value="245">VIET NAM DU SUD</option>
              <option value="251">YEMEN</option>
              <option value="233">YEMEN DEMOCRATIQUE</option>
              <option value="202">YEMEN (REPUBLIQUE ARABE DU)</option>
            </optgroup>
            <optgroup label="Europe">
              <option value="125">ALBANIE</option>
              <option value="109">ALLEMAGNE</option>
              <option value="130">ANDORRE</option>
              <option value="135">ARUBA</option>
              <option value="110">AUTRICHE</option>
              <option value="131">BELGIQUE</option>
              <option value="148">BIELORUSSIE</option>
              <option value="118">BOSNIE-HERZEGOVINE</option>
              <option value="103">BOUVET (ILE)</option>
              <option value="111">BULGARIE</option>
              <option value="119">CROATIE</option>
              <option value="101">DANEMARK</option>
              <option value="134">ESPAGNE</option>
              <option value="106">ESTONIE</option>
              <option value="156">EX-REPUBLIQUE YOUGOSLAVE DE MACEDOINE</option>
              <option value="101">FEROE (ILES)</option>
              <option value="105">FINLANDE</option>
              <option value="133">GIBRALTAR</option>
              <option value="126">GRECE</option>
              <option value="132">GUERNESEY</option>
              <option value="112">HONGRIE</option>
              <option value="136">IRLANDE, ou EIRE</option>
              <option value="102">ISLANDE</option>
              <option value="127">ITALIE</option>
              <option value="132">JERSEY</option>
              <option value="157">KOSOVO</option>
              <option value="107">LETTONIE</option>
              <option value="113">LIECHTENSTEIN</option>
              <option value="108">LITUANIE</option>
              <option value="137">LUXEMBOURG</option>
              <option value="144">MALTE</option>
              <option value="132">MAN (ILE)</option>
              <option value="151">MOLDAVIE</option>
              <option value="138">MONACO</option>
              <option value="120">MONTENEGRO</option>
              <option value="103">NORVEGE</option>
              <option value="135">PAYS-BAS</option>
              <option value="122">POLOGNE</option>
              <option value="139">PORTUGAL</option>
              <option value="141">REPUBLIQUE DEMOCRATIQUE ALLEMANDE</option>
              <option value="142">REPUBLIQUE FEDERALE D'ALLEMAGNE</option>
              <option value="114">ROUMANIE</option>
              <option value="132">ROYAUME-UNI</option>
              <option value="123">RUSSIE</option>
              <option value="128">SAINT-MARIN</option>
              <option value="121">SERBIE</option>
              <option value="117">SLOVAQUIE</option>
              <option value="145">SLOVENIE</option>
              <option value="104">SUEDE</option>
              <option value="140">SUISSE</option>
              <option value="103">SVALBARD et ILE JAN MAYEN</option>
              <option value="115">TCHECOSLOVAQUIE</option>
              <option value="116">TCHEQUE (REPUBLIQUE)</option>
              <option value="124">TURQUIE D'EUROPE</option>
              <option value="155">UKRAINE</option>
              <option value="129">VATICAN, ou SAINT-SIEGE</option>
            </optgroup>
            <optgroup label="Océanie">
              <option value="501">AUSTRALIE</option>
              <option value="501">CHRISTMAS (ILE)</option>
              <option value="501">COCOS ou KEELING (ILES)</option>
              <option value="502">COOK (ILES)</option>
              <option value="508">FIDJI</option>
              <option value="505">GUAM</option>
              <option value="504">HAWAII (ILES)</option>
              <option value="501">HEARD ET MACDONALD (ILES)</option>
              <option value="513">KIRIBATI</option>
              <option value="505">MARIANNES DU NORD (ILES)</option>
              <option value="515">MARSHALL (ILES)</option>
              <option value="516">MICRONESIE (ETATS FEDERES DE)</option>
              <option value="507">NAURU</option>
              <option value="502">NIUE</option>
              <option value="501">NORFOLK (ILE)</option>
              <option value="502">NOUVELLE-ZELANDE</option>
              <option value="517">PALAOS (ILES)</option>
              <option value="510">PAPOUASIE-NOUVELLE-GUINEE</option>
              <option value="503">PITCAIRN (ILE)</option>
              <option value="512">SALOMON (ILES)</option>
              <option value="505">SAMOA AMERICAINES</option>
              <option value="506">SAMOA OCCIDENTALES</option>
              <option value="505">TERR. DES ETATS-UNIS D'AMERIQUE EN OCEANIE</option>
              <option value="502">TOKELAU</option>
              <option value="509">TONGA</option>
              <option value="511">TUVALU</option>
              <option value="514">VANUATU</option>
            </optgroup>
            </select>
          <button class="ui label green" type="submit">Envoyer</button>
        </div>
        <div>
          <div data-netlify-recaptcha="true"></div>
        </div>
      </form>
    </article>
  </div>

  {{ $headless := .Site.GetPage "/about" }}
  {{ $aboutPages := $headless.Resources.ByType "page" }}
  {{ range $aboutPages }}
  <div class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
    <article class="ui segment markdown-body">
      <h3 class="ui header">{{ .Title }}</h3>
      {{ .Content | emojify }}
    </article>
  </div>
  {{ end }}

  {{ if findRE "posts/.+" .RelPermalink }}
  {{ else }}
  {{ if and .Site.DisqusShortname  }}
  <div class="sixteen wide mobile eight wide tablet eight wide computer column dream-column">
    <article class="ui segment">
      <div id="disqus_thread"></div>
      <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
        */

        var disqus_config = function () {
          this.page.url = '{{ .Permalink }}';  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = '/'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://' + '{{ .Site.DisqusShortname }}' + '.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </article>
  </div>
  {{ end }}
  {{ end }}
</div>
